#addEvent {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#eventButton {
    max-width: 150px;
    margin-top: 10 px;
    margin-left: 13px;
}

#event_name, #location, #description, #date {
    margin: 3px;
}

li {
    flex: 1 1 300px;
    max-height: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
  }

  label {
    max-width: 100px;
    margin-left: 10px;
  }